.user{text-align: left; margin-top: 30px; padding-bottom: 10px; box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2); border-radius: 10px;}
.user img{width: 100%; min-height: 250px; border-radius: 10px 10px 0 0;}
.user .user-info .title{font-weight: bold; font-size: 18px; padding-left: 15px;}
.user .user-info .position{font-size: 14px; padding-left: 15px;}
.user:hover{box-shadow: 4px 8px 20px 4px rgba(0,0,0,0.2);}
.row{padding-top: 10px; padding-bottom: 10px;}
.banner{height: 15vh; font-size: 30px; font-weight: bold; color: white;}
.btnLogin{background-color: #D66324; color: white; border-color: #D66324; border-width: 3px; margin: 0 10px 0 10px;}
.btnSignup{color: #D66324; border-color: #D66324; border-width: 3px; margin: 0 10px 0 10px;}