.blackText{
	color: black;
}
.MarginTop150{
	margin-top: 150px;
}
.fontSize24{
	font-size: 24px;
}
.fontSize20{
	font-size: 20px;
}
.fontSize35{
	font-size: 35px;
}
.WidthHeight75Percent{
	width: 75%; height: 75%;
}
.iframeSetting{
	width: 95%; height: 75%;
}
.list-group-item{
	color: #00a6ff; font-size: 24px;
}
.card:hover{
	box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
}
h{
	padding: 50px;
}
.infoFooter{
	text-align: left; line-height: 45px; padding-top: 50px;
}
.productFooter{
	text-align: right; line-height: 0px; padding-right: 80px;
}
#footer{
	padding: 15px; margin-top: 20px; background-color: #6873DD; color: white; text-align: center; letter-spacing: 2px;
}
.map{
	padding-left: 100px; padding-top: 50px;
}
.twitterLogo{
	padding-left: 40px;
}

.detail{
	width: 100%; height: 700px; background: #FFB964;
}

div {
  	text-align: justify; text-justify: inter-word;
}
.colorSeeDetail{
	background-color: #6873DD; display: flex; justify-content: center; height: 45px;
}
.customerAvatar{
	border-radius: 50%; width: 110%; height: 100%;
}
.infoCustomerComment{
	padding-left: 50px; margin-top: 20px;
}
.spaceRow{
	margin: 100px;
}
.commentHeader{
	text-align: center; font-size: 40px; color: #6873DD; margin-top: 50px;
}
.commentMore{
	font-size: 40px; color: #6873DD;
}
.statisticTab{
	width: 100%; height: 500px; background: #5ABDA1;
}
.WidthHeight9070Percent{
	width: 90%; height: 75%;
}
.staticsInfo{
	font-size: 70px; color: #6873DD;
}
.BenifitPicture{
	width: 100%; height: 100%;
}
.infoBenifit{
	padding-left: 50px; margin-top: 20px;
}
#ErrorMess{
	color: red;
}

.getAdvices{
	background-color: white; padding: 35px; border-radius: 10px; position: absolute; top: 50%; left: 80%; transform: translate(-50%, -50%);
}
.width100Percent{
	width: 100%;
}

.open-button{
    background-color: #555;color: white;padding: 16px 20px;border: none;cursor: pointer;opacity: 0.8;position: fixed;bottom: 23px;right: 28px;width: 280px;
}
.form-popup{
    display: none;position: fixed;right:0; bottom: 0; border: 3px solid #f1f1f1;
}
.form-container{
    max-width: 100%;padding: 10px;background-color: white;
}
.form-container input, .form-container textarea {width: 100%;padding: 15px;margin: 5px 0 22px 0;border: none;background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus{
    background-color: #ddd;outline: none;
}
.form-container .btn {
    background-color: #F88746;color: white;padding: 16px 20px;border: none;cursor: pointer;width: 100%;margin-bottom:10px;opacity: 1;
}
.form-container .cancel{
    background-color: black;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
}


/* linh css */

.fit-content-w {
	width: fit-content;
	min-width: 90vw;
	min-height: 90vh;
}

.l-btn {
	cursor: pointer;
	margin: 1em 0 1em 0;
	display: block;
	color: #f88746;
}

.btn-x {
	cursor: pointer;
	margin: 1em 0 1em 0;
}

.l-icon {
	cursor: pointer;
}

.l-icon-md {
	font-size: larger;
}

.l-spacer {
	height: 0px;
	width: 10px;
}

.l-fill-red {
	color: rgb(231, 38, 38);
}

.jus-bw {
	justify-content: space-between;
}

.nav-item.active {
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* linh css */
